<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="collect">
            <h2><span jhiTranslate="project2App.collect.detail.title">Collect</span> {{collect.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="project2App.collect.date">Date</span></dt>
                <dd>
                    <span>{{collect.date}}</span>
                </dd>
                <dt><span jhiTranslate="project2App.collect.moveId">Move Id</span></dt>
                <dd>
                    <div *ngIf="collect.moveId">
                        <a [routerLink]="['/movie', collect.moveId?.id, 'view']">{{collect.moveId?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="project2App.collect.customerId">Customer Id</span></dt>
                <dd>
                    <div *ngIf="collect.customerId">
                        <a [routerLink]="['/customer', collect.customerId?.id, 'view']">{{collect.customerId?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/collect', collect.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
