<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-movie-heading" jhiTranslate="project2App.movie.home.createOrEditLabel">Create or edit a Movie</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="project2App.movie.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="project2App.movie.releaseDay" for="field_releaseDay">Release Day</label>
                    <input type="number" class="form-control" name="releaseDay" id="field_releaseDay"
                           formControlName="releaseDay"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="project2App.movie.image" for="field_image">Image</label>
                    <input type="text" class="form-control" name="image" id="field_image"
                           formControlName="image"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="project2App.movie.brief" for="field_brief">Brief</label>
                    <input type="text" class="form-control" name="brief" id="field_brief"
                           formControlName="brief"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="project2App.movie.directorId" for="field_directorId">Director Id</label>
                    <select class="form-control" id="field_directorId" name="directorId" formControlName="directorId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="directorOption.id === editForm.get('directorId').value?.id ? editForm.get('directorId').value : directorOption" *ngFor="let directorOption of directors; trackBy: trackDirectorById">{{directorOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="project2App.movie.varietyId" for="field_varietyId">Variety Id</label>
                    <select class="form-control" id="field_varietyId" name="varietyId" formControlName="varietyId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="varietyOption.id === editForm.get('varietyId').value?.id ? editForm.get('varietyId').value : varietyOption" *ngFor="let varietyOption of varieties; trackBy: trackVarietyById">{{varietyOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
